<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#fff"
  type="square-jelly-box"
  [fullScreen]="true"
  *ngIf="loading"
>
  <p style="color: white">Carregando...</p>
</ngx-spinner>

<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="text-primary">Lista de Usuários</h2>
    <button class="btn btn-success" (click)="navigateToCreate()">+ Criar Usuário</button>
  </div>

  <div class="mb-3 row">
    <label for="search" class="col-auto col-form-label">Buscar usuário:</label>
    <div class="col">
      <input
        id="search"
        type="text"
        class="form-control"
        placeholder="Nome ou e-mail..."
        [(ngModel)]="searchQuery"
        (input)="searchUsers()"
      />
    </div>
  </div>  

  <table class="table table-hover shadow">
    <thead class="table-dark">
      <tr>
        <th class="w-10">#</th>
        <th class="w-25">Nome</th>
        <th class="w-35">E-mail</th>
        <th class="w-20">Data de Criação</th>
        <th class="w-10 text-center">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ (currentPage - 1) * itemsPerPage + i + 1 }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.createdAt | date : "dd/MM/yyyy HH:mm" }}</td>
        <td class="text-center">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-secondary dropdown-toggle" id="dropdownMenu" ngbDropdownToggle>
              Ações
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenu">
              <button class="dropdown-item" (click)="navigateToEdit(user.id)">Editar</button>
              <button class="dropdown-item text-danger" (click)="openDeleteModal(user)">Excluir</button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="users.length === 0 && !loading" class="text-center text-muted">
    Nenhum usuário encontrado.
  </p>

  <div class="d-flex justify-content-between p-2" *ngIf="totalItems > 0">
    <ngb-pagination
      [collectionSize]="totalItems"
      [(page)]="currentPage"
      [pageSize]="itemsPerPage"
      (pageChange)="changePage($event)"
    ></ngb-pagination>

    <select class="form-select w-auto" [(ngModel)]="itemsPerPage" (change)="changePage(1)">
      <option [value]="5">5 por página</option>
      <option [value]="10">10 por página</option>
      <option [value]="15">15 por página</option>
    </select>
  </div>
</div>
